*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 5px 10px black;
    padding: 20px;
    border-radius: 10px;
}

button{
    font-size: 20px;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
}
#displayValue{
    font-size: 21px;
    padding: 5px 15px;
    border: 1px solid black;
}